* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

body {
    background-color: #ccd;
    width: 100vw;
    height: 100vh;
    overflow: hidden;   
}
.form {
    display: flex;
    justify-content: center;
}
.form #email_input {
    padding: 25px 50px;
    outline: none;
    font-size: 20px;
    text-transform: uppercase;
}
.form .go {
    width: 50px;
    height: 20px;
    align-self: center;
    margin-left: 5px;
    text-transform: capitalize;

}

.popup {
    width: 400px;
    height: auto;
    border: 1px solid #000;
    border-radius: 5px 5px 0 0;
    background-image: linear-gradient(0deg, rgba(6, 56, 249, 1) 0%, rgba(10, 77, 249, 1) 100%);
    padding: 0 3px 3px 3px;
}
.popup .top_blue_line {
    display: flex;
    justify-content: space-between;
    padding: 5px;
}

.popup .exit {
    position: relative;
    align-self: flex-end;
    width: 20px;
    height: 20px;
    cursor: pointer;
    border: 1px solid #fff;
    background-color: rgb(245,0,9);
    border-radius: 3px;
    opacity: .5;
}
.popup .exit::before {
    content: '';
    position: absolute;
    top: 9px;
    left: 2px;
    width: 80%;
    height: 2px;
    transform: rotate(45deg);
    background-color: #fff;
}
.popup .exit::after {
    content: '';
    position: absolute;
    top: 9px;
    left: 2px;
    width: 80%;
    height: 2px;
    transform: rotate(-45deg);
    background-color: #fff;
}
.popup .text {
    font-family: 'Roboto', sans-serif;
    text-transform: capitalize;
    color: #fff;
    letter-spacing: 1px;
    font-weight: 400;
    font-size: 18px;
    text-shadow: 2px 2px 1px #000;
}

.popup .text_box {
    display: flex;
    justify-content: space-between;
    background-color: rgb(228,225,208);
    padding: 20px 0 50px 20px;
}
.popup .text_box .x {
    position: relative;
    width: 40px;
    height: 40px;
    background-color: rgb(245,0,9);
    border-radius: 25px;
    border: 1px solid #000;
    box-shadow: 3px 2px 2px 0 rgb(128,134,125);
}
.popup .text_box .x::before,
.popup .text_box .x::after {
    content: '';
    position: absolute;
    top: 18px;
    left: 6px;
    width: 70%;
    height: 5px;
    background-color: #fff;
}
.popup .text_box .x::before {
    transform: rotate(45deg);
}
.popup .text_box .x::after {
    transform: rotate(-45deg);
}
.popup .text_box .popup_text {
    font-family: 'Roboto', sans-serif;
    letter-spacing: .5px;
    margin-right: 150px;
    margin-top: 5px;
}